.center{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    background: linear-gradient(#2c3e50,#00ffff,#268d8d);
}

.centerHead{
    color: white;
    font-size: 4rem;
}

.card{
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.imgs{
    height: 200px;
    width: 100%;
}

.datas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
}

.confirmed,.critical,.recovered,.deaths{
    height: 200px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 40px;
    cursor: pointer;
    opacity: 0.8;
}

.confirmed{
    border-top: 15px solid #e67e22;
    border-bottom: 15px solid #e67e22;
    background: linear-gradient(to top,#d89a64,transparent);
}
.confirmed:hover,.critical:hover,.recovered:hover,.deaths:hover{
    opacity: 1;
    transition-duration: 850ms;
}

.critical{
    border-top: 15px solid #fbc531;
    border-bottom: 15px solid #fbc531;
    background: linear-gradient(to top,#e0c169,transparent);
}
.recovered{
    border-top: 15px solid #44bd32;
    border-bottom: 15px solid #44bd32;
    background: linear-gradient(to top,#8edb82,transparent);
}
.deaths{
    border-top: 15px solid #f1390b;
    border-bottom: 15px solid #ee3608;
    background: linear-gradient(to top,#e9795d,transparent);
}

.para{
    font-size: 26px;
}


@media (max-width: 850px) {
    .center{
        height: 100%;
        text-align: center;
    }
    .card{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }    
    .datas{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }    
    .confirmed,.critical,.recovered,.deaths{
        height: 200px;
        width: 200px;
    }
}
